[submodule ".registry"]
	path = .registry
	url = https://github.com/benjaminhlina/benjaminhlina.r-universe.dev
	branch = HEAD
[submodule "crawl"]
	path = crawl
	url = https://github.com/NMML/crawl
	branch = devel
	registered = false
[submodule "ecotox"]
	path = ecotox
	url = https://github.com/benjaminhlina/ecotox
[submodule "glatos"]
	path = glatos
	url = https://github.com/ocean-tracking-network/glatos
	branch = dev
[submodule "matos"]
	path = matos
	url = https://github.com/mhpob/matos
[submodule "miscYAPS"]
	path = miscYAPS
	url = https://github.com/robertlennox/miscYAPS
[submodule "mort"]
	path = mort
	url = https://github.com/rosieluain/mort
[submodule "otndo"]
	path = otndo
	url = https://github.com/mhpob/otndo
	registered = false
[submodule "pathroutr"]
	path = pathroutr
	url = https://github.com/jmlondon/pathroutr
[submodule "soapcheckr"]
	path = soapcheckr
	url = https://github.com/dill/soapcheckr
[submodule "splusTimeDate"]
	path = splusTimeDate
	url = https://github.com/spkaluzny/splusTimeDate
	registered = false
[submodule "splusTimeSeries"]
	path = splusTimeSeries
	url = https://github.com/spkaluzny/splusTimeSeries
	registered = false
[submodule "yaps"]
	path = yaps
	url = https://github.com/ocean-tracking-network/yaps
